body {
	font-family : "Open Sans";
}

#footer {
	
	color: #aaaaaa;
	font-size : 24px;
	padding-top: 2em;
	padding-bottom: 2em;
	text-align: center;
}

#footer a {
	color: #aaaaaa;
}

#footer a:hover {
	color: black;

}
#wrapper {
	background-image: url("../image/enfant_muse.jpg");
	height: 450px;
	background-size: cover;
	text-align: center;
	padding-top: 150px;
	color: white;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);


}

#wrapper h1 {
	font-size: 72px;
}

#wrapper h2 {
	font-size: 24px;
	margin-bottom: 2em;
}

#paint {
	background-image: url(../image/child.jpg);
	border: 30px solid black;
	margin-left: 300px;
	margin-right: 300px;
	height: 1000px;
	background-size: cover;

}

.spacer {
height: 8em;
}

.feature p {
	padding-top: 75px;
	font-weight: 300;
	letter-spacing: 2px;
}

.navbar-transparent {
	background-color: rgba(0, 0, 0, 0.5); 
}

.navbar-transparent {
  background-color: rgba(0, 0, 0, 0.7);
}

.navbar-transparent .navbar-brand,
.navbar-transparent .navbar-nav > li > a {
  color: #eeeeee;
  line-height: 50px;
}

.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:active,
.navbar-transparent .navbar-nav > li > a:focus,
.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:active,
.navbar-transparent .navbar-brand:focus {
  color: white;
}

.carousel-page
{
margin-top: 3em;
width:100%;
height:400px;
background-color:#5f666d;
color:white;
}
