body {
	font-family : 'Open Sans', sans-serif;
}

#punch {
	font-size: 1.7rem;
    text-align: center;
    padding: 0.8em;
    margin-top: 1em;
    margin-bottom: 1em;
}

#supportCard {
	position: sticky;
	margin: auto;
}

.sps {
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.25s ease;
  width: 100%;
}

.sps--abv {
  
}

.sps--blw {
  
}

#footer {
	
	color: #aaaaaa;
	font-size : 24px;
	padding-top: 2em;
	padding-bottom: 2em;
	text-align: center;
}

#footer a {
	color: #aaaaaa;
}

#footer a:hover {
	color: #70c24a;
}

#yo {
	text-align: center;
}

#yo a{
	color:#aaaaaa;
	font-size : 34px;
	text-align: center;
	text-decoration: none;
}

#yo a:hover {
	color:#70c24a;
	text-decoration: none;
}
#wrapper {
	background-image: url("../image/background_image.jpg");
	background-position: center;
	height: 450px;
	background-size: cover;
	text-align: center;
	color: white;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.5em;
}


#content a {
	color:#70c24a;
	font-weight: bold;
	font-size: 24px;
	text-decoration: underline;
}

#wrapper h1 {
	margin-top: .5rem;
    margin-bottom: .5rem;
	font-size: 72px;
}

#wrapper h2 {
	font-size: 24px;
	margin-bottom: 2em;
}

#paint {
	/*background-image: url(../image/child.jpg);*/
	border: 30px solid black;
	/*margin-left: 300px;
	margin-right: 300px;*/
	/*height: 1000px;*/
	/*background-size: cover;*/

}

h4 {
	color: #70c24a;
	margin-bottom: 1em;
	margin-top: 1em;
	font-weight: bold;

}

.legend {
	font-weight: 300;
	letter-spacing: 2px;
	font-size: 12px;
	font-weight: bold;
	font-style: italic;
}

.logo  {
	box-shadow: 0px 0px 1px black;
}

.spacer {
height: 8em;
}

.spacer2 {
	height: 4em;
}

.feature p {
	padding-top: 75px;
	font-weight: 400;
	letter-spacing: 2px;
}

.feature2 p {
	font-family: "Open Sans"
	padding-top: 10px;
	font-weight: 400;
	letter-spacing: 2px;
}